
@{
    ViewBag.Title = "ProfileCollection";
}


<style>
    table, td, th {
        text-align: center;
        font-weight: bold;
    }
</style>
<h3 style="text-align: center;"><b>@ViewBag.Message</b></h3>

<br />
<table id="myTable" class="table table-bordered table-responsive table-hover" style="width: 1000px;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Poster</th>
            <th>View</th>
            <th>Remove</th>
            <th>Add to Collection</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @item.Title
                </td>
                <td style="vertical-align: middle;">
                    @item.Year
                </td>
                <td style="vertical-align: middle;">
                    @item.Type
                </td>
                <td style="vertical-align: middle;">
                    <img src="@Url.Content(item.Poster)" , style="width: auto; height: 150px;" />
                </td>
                @using (Html.BeginForm("ViewMovieAsync", "MovieSearch", FormMethod.Post))
                {
                    <td>
                        @Html.Hidden("id", (object)item.imdbID)
                        <input type="submit" value="Select" class="btn btn-primary" />
                    </td>
                }
                <td>
                    @Html.ActionLink("Remove from Wishlist", "RemoveFromWishlist", "UserProfile", (object)item, new { @class = "btn btn-primary btn-large" })
                </td>
                <td>
                    @Html.ActionLink("Add to Collection", "AddWishlistItemToCollection", "UserProfile", (object)item, new { @class = "btn btn-primary btn-large" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}