
@{
    ViewBag.Title = "ProfileCollection";
}



<h2>Profile Collection</h2>
<h3 style="text-align: center;">@ViewBag.Message</h3>
<body>
    <style>
        .table th, .table td {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
    <table class="table table-bordered table-responsive table-hover" style="width: 1000px;">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Poster</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    <img src="@Url.Content(item.Poster)" , style="width: auto; height: 150px;" />
                </td>
                @using (Html.BeginForm("ViewMovieAsync", "MovieSearch", FormMethod.Post))
                {
                    <td>
                        @Html.Hidden("id", (object)item.imdbID)
                        <input type="submit" value="Select" class="btn btn-primary" />
                    </td>
                }
            </tr>
        }
    </table>
</body>