@model SocialMovieManagementApplication.Controllers.ProfileModel

@{
    ViewBag.Title = "UserProfile";
}

<style>
    .imgCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        margin: auto;
        width: 35%;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1 style="text-align: center;">@ViewBag.Message</h1>



<body>
    <img src="~/Content/Images/BlankProfilePicture.jpg" class="imgCenter" width="200" height="200" />
    <h2 style="text-align: center;">@ViewBag.Message</h2>

    <div class="row">
        <div class="column">
            <h3><b>Profile Info:</b></h3>
            @if (Model.userModel != null)
            {
                <h3>Country: @Model.userModel.country</h3>
                <h3>Age: @Model.userModel.age</h3>
                <h3>Bio: @Model.userModel.userBio</h3>
            }
            @if (Model.friend == false && Model.friendRequest == false)
            {
                using (Html.BeginForm("SendFriendRequest", "Friends", FormMethod.Post))
                {
                    @Html.Hidden("id", Model.userModel.userID)
                    @Html.Hidden("username", (object)ViewBag.Message)
                    <input type="submit" value="Friend Request" />
                }
            }
            else if (Model.friend == false && Model.friendRequest == true)
            {
                <button type="submit" disabled>Request Pending</button>
            }
        </div>
        <div class="column">
            @if (Model.movie != null)
            {
                <h3 style="text-align:center;">
                    <img src="@Url.Content(Model.movie.Poster)" , style="width: auto; height: 250px;" />
                </h3>
            }
        </div>
        <div class="column">
            @if (Model.movie != null)
            {
                <h3>
                    <b>Favorite Movie</b>
                </h3>
                <h3>Title: @Model.movie.Title</h3>
                <h3>Release Year: @Model.movie.Year</h3>
            }
        </div>
    </div>
    <div style="text-align:center;">@Html.ActionLink("View Collection!", "ViewUserCollection", "UserProfile", (object)Model.userModel, new { @class = "btn btn-primary btn-large" })</div>
    <br />
    <div style="text-align:center;">@Html.ActionLink("View Wishlist!", "ViewUserWishlist", "UserProfile", (object)Model.userModel, new { @class = "btn btn-primary btn-large" })</div>

</body>